@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	outline: none;
	border: none;
}

a,
router-link {
	@apply p-2 text-blue-900 hover:text-blue-800 no-underline h-auto;
}

input {
	@apply text-black px-4;
}

button {
	@apply p-4 py-2 border-2 border-gray-600 border-solid rounded-md m-1 transition duration-200
}

button:disabled {
	cursor: not-allowed;
	background-color: rgba(0, 0, 0, .25);
}

button:hover {
	@apply shadow-lg;
}

img {
	border: none;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='file'],
select,
textarea {
	@apply my-1 p-2 rounded-md w-full outline-none border-2 border-gray-600 border-solid;
	transition: .3s;
}

select {
	@apply appearance-none cursor-pointer;
}

textarea {
	min-height: 4em;
	@apply overflow-auto appearance-none;
}

input[type="checkbox"] {
	@apply mx-2 cursor-pointer;
}

/* general  */

.divider {}

.font-cursive {
	font-family: cursive;
}

.breadcrumb {
	@apply w-full flex flex-row items-center py-4 md:py-2;
}

.breadcrumb p {
	@apply text-2xl text-gray-800 mx-1;
}

.breadcrumb p:last-child {
	@apply text-gray-600;
}

.floating-button {
	@apply fixed bottom-10 right-10;
}

/* nav and footer  */

nav,
footer {
	background-color: rgba(0, 0, 0, .25);
}

.nav {
	background-image: url('/@/assets/img/12.jpg');
	background-position: right;
	background-repeat: no-repeat;
}

.menu-button {
	@apply border-none border-b-2 border-gray-600 border-solid
		rounded-none grid grid-cols-7 gap-1
		w-full m-0 py-4 px-2 text-gray-900;
}

.menu-button:hover {
	background-color: rgba(0, 0, 0, .17);
}

.menu-button span {
	@apply col-span-1;
}

.menu-button p {
	@apply col-span-6 text-left;
}

/* products  */

.product {
	@apply rounded-md bg-gray-300 p-4 m-2 w-auto;
}

.product-image {
	height: 300px;
	width: 100%;
	border-radius: inherit;
}

.product-image img {
	height: inherit;
	width: inherit;
	border-radius: inherit;
	@apply  transition duration-200 cursor-pointer;
}

.product-image img:hover,
.cart-item-image img:hover {
	@apply shadow-lg transform scale-110 md:scale-125;
}

.product-description {
	@apply grid grid-rows-2 pt-2;
}

.product-description label {}

.product-description small,
.product-price small {
	@apply text-gray-600;
}

.product-price small {
	@apply text-3xl;
}

.product-action {
	@apply grid grid-cols-6;
}

.product-action button {
	@apply w-6 h-6 p-4 bg-gray-500;
}

/* cart item  */

.cart-item {
	@apply grid grid-cols-5 gap-2 p-2 my-2 relative
		w-full h-auto bg-gray-300 rounded-md;
	z-index: 10;
}

.cart-item-image {
	@apply p-2 w-auto h-auto col-span-1;
	border-radius: inherit;
}

.cart-item-image img {
	transition: .5s;
	width: 200px;
	height: 100px;
	border-radius: inherit;
}

.cart-item-content {
	@apply h-full col-span-2;
}

.cart-item-content label {
	@apply w-28 inline-block align-baseline;
}

.cart-item-price {
	@apply grid grid-cols-3 col-span-2;
}

.cart-item-price p,
.cart-item-content p {
	@apply text-xl text-gray-700
		inline-block align-baseline;
}

.cart-item-price p,
.cart-item-price small {
	@apply text-center;
}

.cart-item-delete {
	@apply absolute top-0 left-0
		border-none bg-red-600 text-white
		p-1 px-2;
}

/* login, register, logout  */

.auth-form {
	@apply h-auto py-6 container mx-auto px-4 md:px-2;
}

.auth-form form {
	@apply w-full md:w-2/5;
}

.auth-form button {
	@apply m-0;
}

table {
	@apply border-2 border-solid border-gray-300 
		rounded-b-md rounded-t-md;
}

thead {
	@apply bg-gray-300 rounded-t-md;
}

tbody {
	@apply rounded-b-md;
}

tr {
	@apply p-2;
}

th, td {
	@apply p-2 text-left font-normal;
}
